In [79]:
import pandas as pd
import sqlalchemy as sqla
import pyodbc
from enum import Enum, auto

from importlib import reload

from country_correction import adjust_country_names
# We use autoreload so that it automatically reloads the changes we made in modules
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [80]:
import os
from dotenv import load_dotenv

load_dotenv(override=True)

DB_USERNAME = os.getenv('DB_USERNAME')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_HOST     = os.getenv('DB_HOST')
DB_PORT     = os.getenv('DB_PORT')
DB_NAME     = os.getenv('DB_NAME')

FOLDER = 'Dataset'
FILE_COVID = FOLDER + '/COVID_2019.csv'
FILE_EBOLA = FOLDER + '/EBOLA_2014_2016.csv'
FILE_H1N1  = FOLDER + '/H1N1_2009.csv'
FILE_SARS  = FOLDER + '/SARS_2003.csv'

In [81]:
# Define column names
COL_DATE        = 'Date'
COL_DATEKEY     = 'Datekey'
COL_COUNTRY     = 'Country'
COL_STATE       = 'ProvinceState'
COL_WHOREGION   = 'WHORegion'
COL_LATITUDE    = 'Latitude'
COL_LONGITUDE   = 'Longitude'
COL_CONFIRMED   = 'Confirmed'
COL_DEATHS      = 'Deaths'
COL_RECOVERED   = 'Recovered'
COL_ACTIVE      = 'Active'
COL_COUNTRY_ID  = 'CountryId'

In [82]:
class Pandemics(Enum):
    SARS = auto()
    H1N1 = auto()
    EBOLA = auto()
    COVID = auto()

In [83]:
connection_url = f"mssql+pymssql://{DB_USERNAME}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}"

engine = sqla.create_engine(connection_url)
try:
    # Tests the SQL Alchemy connection
    with engine.connect() as conn:
        result = conn.execute(sqla.text("SELECT TOP 10 * FROM Dim.Date"))
        for row in result:
            print(row)
        pass

except Exception as e:
    print(f"SQLAlchemy connection error: {e}")

(20000101, datetime.date(2000, 1, 1), 1, 'st', 7, 'Saturday', 'SAT', 'S', 1, 1, 1, 1, 1, 'January', 'JAN', 'J', 1, 'First', 2000, '012000', '2000JAN', True, False)
(20000102, datetime.date(2000, 1, 2), 2, 'nd', 1, 'Sunday', 'SUN', 'S', 2, 2, 2, 2, 1, 'January', 'JAN', 'J', 1, 'First', 2000, '012000', '2000JAN', True, False)
(20000103, datetime.date(2000, 1, 3), 3, 'rd', 2, 'Monday', 'MON', 'M', 3, 3, 2, 2, 1, 'January', 'JAN', 'J', 1, 'First', 2000, '012000', '2000JAN', False, False)
(20000104, datetime.date(2000, 1, 4), 4, 'th', 3, 'Tuesday', 'TUE', 'T', 4, 4, 2, 2, 1, 'January', 'JAN', 'J', 1, 'First', 2000, '012000', '2000JAN', False, False)
(20000105, datetime.date(2000, 1, 5), 5, 'th', 4, 'Wednesday', 'WED', 'W', 5, 5, 2, 2, 1, 'January', 'JAN', 'J', 1, 'First', 2000, '012000', '2000JAN', False, False)
(20000106, datetime.date(2000, 1, 6), 6, 'th', 5, 'Thursday', 'THU', 'T', 6, 6, 2, 2, 1, 'January', 'JAN', 'J', 1, 'First', 2000, '012000', '2000JAN', False, False)
(20000107, datetime.date(2000, 1, 7), 7, 'th', 6, 'Friday', 'FRI', 'F', 7, 7, 2, 2, 1, 'January', 'JAN', 'J', 1, 'First', 2000, '012000', '2000JAN', False, False)
(20000108, datetime.date(2000, 1, 8), 8, 'th', 7, 'Saturday', 'SAT', 'S', 8, 8, 2, 2, 1, 'January', 'JAN', 'J', 1, 'First', 2000, '012000', '2000JAN', True, False)
(20000109, datetime.date(2000, 1, 9), 9, 'th', 1, 'Sunday', 'SUN', 'S', 9, 9, 3, 3, 1, 'January', 'JAN', 'J', 1, 'First', 2000, '012000', '2000JAN', True, False)
(20000110, datetime.date(2000, 1, 10), 10, 'th', 2, 'Monday', 'MON', 'M', 10, 10, 3, 3, 1, 'January', 'JAN', 'J', 1, 'First', 2000, '012000', '2000JAN', False, False)

# Covid

In [84]:
covid = pd.read_csv(FILE_COVID)
covid['Date'] = pd.to_datetime(covid['Date']).dt.strftime('%Y-%m-%d')
covid['PandemicId'] = Pandemics.COVID.value

covid.rename(columns={
    'Province/State': COL_STATE,
    'Country/Region': COL_COUNTRY,
    'Lat': COL_LATITUDE,
    'Long': COL_LONGITUDE,
    'WHO Region': COL_WHOREGION
}, inplace=True)
adjust_country_names(covid)
covid.drop_duplicates(inplace=True)
covid

dim_country = set(covid['Country'].unique())
dim_country
covid

,ProvinceState,Country,Latitude,Longitude,Date,Confirmed,Deaths,Recovered,Active,WHORegion,PandemicId
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean,4
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe,4
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa,4
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe,4
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa,4
...,...,...,...,...,...,...,...,...,...,...,...
48802,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-26,863,14,696,153,Africa,4
48803,NaN,Yemen,15.552727,48.516388,2020-07-26,1681,479,797,405,Eastern Mediterranean,4
48804,NaN,Comoros,-11.645500,43.333300,2020-07-26,354,7,328,19,Africa,4
48805,NaN,Tajikistan,38.861000,71.276100,2020-07-26,7192,59,5970,1163,Europe,4
48806,NaN,Lesotho,-29.610000,28.233600,2020-07-26,505,12,128,365,Africa,4

# Ebola

In [85]:
ebola = pd.read_csv(FILE_EBOLA)
ebola['Date'] = pd.to_datetime(ebola['Date']).dt.strftime('%Y-%m-%d')
ebola['PandemicId'] = Pandemics.EBOLA.value
ebola.rename(columns={
    'Cumulative no. of confirmed, probable and suspected cases':  COL_CONFIRMED,
    'Cumulative no. of confirmed, probable and suspected deaths': COL_DEATHS,
}, inplace=True)
adjust_country_names(ebola)
ebola
new_country = set(ebola['Country'].unique())
diff = new_country - dim_country
diff

set()

# H1N1

In [86]:
h1n1 = pd.read_csv(FILE_H1N1)
h1n1['Date'] = pd.to_datetime(h1n1['Date']).dt.strftime('%Y-%m-%d')
h1n1['PandemicId'] = Pandemics.H1N1.value
h1n1.rename(columns={
    'Cumulative no. of cases':  COL_CONFIRMED,
    'Cumulative no. of deaths': COL_DEATHS,
}, inplace=True)
adjust_country_names(h1n1)
h1n1
new_country = set(h1n1['Country'].unique())
diff = new_country - dim_country
diff

{'Cook Island', 'Palau', 'Samoa', 'Vanuatu'}

# SARS

In [87]:
sars = pd.read_csv(FILE_SARS)
sars['Date'] = pd.to_datetime(sars['Date']).dt.strftime('%Y-%m-%d')
sars['PandemicId'] = Pandemics.SARS.value
sars.rename(columns={
    'Cumulative number of case(s)': COL_CONFIRMED,
    'Number of deaths':             COL_DEATHS,
    'Number recovered':             COL_RECOVERED,
}, inplace=True)
adjust_country_names(sars)
sars
# new_country = set(sars['Country'].unique())
# diff = new_country - dim_country
# diff
sars['Date']

0       2003-03-17
1       2003-03-17
2       2003-03-17
3       2003-03-17
4       2003-03-17
           ...
2533    2003-07-11
2534    2003-07-11
2535    2003-07-11
2536    2003-07-11
2537    2003-07-11
Name: Date, Length: 2538, dtype: object

# Merging Data

In [88]:
df = pd.concat([covid,ebola,h1n1,sars], ignore_index=True)
df

,ProvinceState,Country,Latitude,Longitude,Date,Confirmed,Deaths,Recovered,Active,WHORegion,PandemicId
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0.0,0.0,0.0,0.0,Eastern Mediterranean,4
1,NaN,Albania,41.15330,20.168300,2020-01-22,0.0,0.0,0.0,0.0,Europe,4
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0.0,0.0,0.0,0.0,Africa,4
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0.0,0.0,0.0,0.0,Europe,4
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0.0,0.0,0.0,0.0,Africa,4
...,...,...,...,...,...,...,...,...,...,...,...
56315,NaN,Switzerland,NaN,NaN,2003-07-11,1.0,0.0,1.0,NaN,NaN,1
56316,NaN,Thailand,NaN,NaN,2003-07-11,9.0,2.0,7.0,NaN,NaN,1
56317,NaN,United Kingdom,NaN,NaN,2003-07-11,4.0,0.0,4.0,NaN,NaN,1
56318,NaN,United States,NaN,NaN,2003-07-11,75.0,0.0,67.0,NaN,NaN,1
56319,NaN,Vietnam,NaN,NaN,2003-07-11,63.0,5.0,58.0,NaN,NaN,1

## DimDate

In [89]:
# Replaces date with a datekey
df['Datekey'] = pd.to_datetime(df['Date']).dt.strftime('%Y%m%d').astype(int)
df.drop(columns=['Date'], inplace=True)

## DimPandemics

In [90]:
pandemics_dict = {
    Pandemics.SARS.value:   'SARS',
    Pandemics.H1N1.value:   'H1N1',
    Pandemics.EBOLA.value:  'EBOLA',
    Pandemics.COVID.value:  'COVID',
}
pandemics_df = pd.DataFrame(list(pandemics_dict.items()), columns=['PandemicId', 'Name'])
with engine.connect() as conn:    
    pandemics_df.to_sql(name='Pandemics', schema='Dim', con=conn, index=False, if_exists='replace')

## DimCountry

In [91]:
countries = df[[COL_COUNTRY, COL_STATE, COL_LATITUDE, COL_LONGITUDE]].copy()
countries.drop_duplicates(subset=[COL_COUNTRY, COL_STATE], inplace=True)
countries.reset_index(drop=True, inplace=True)
countries.index += 1
countries

who_regions = covid[[COL_COUNTRY, COL_WHOREGION]].drop_duplicates().copy()

countries = countries.merge(who_regions, how='left', on=COL_COUNTRY)
countries

with engine.connect() as conn:    
    countries.to_sql(name='Countries', schema='Dim', con=conn, index_label='CountryId', if_exists='replace')

countries_subset = countries[[COL_COUNTRY, COL_STATE]].copy()
countries_subset['CountryId'] = countries_subset.index
countries_subset

           Country ProvinceState  CountryId
0      Afghanistan           NaN          0
1          Albania           NaN          1
2          Algeria           NaN          2
3          Andorra           NaN          3
4           Angola           NaN          4
..             ...           ...        ...
264          Samoa           NaN        264
265        Vanuatu           NaN        265
266          Palau           NaN        266
267    Cook Island           NaN        267
268  United States   Puerto Rico        268

[269 rows x 3 columns]

## FactInfections

In [92]:
facts = df[[COL_DATEKEY, COL_COUNTRY, COL_STATE, COL_CONFIRMED, COL_DEATHS, COL_RECOVERED, COL_ACTIVE, 'PandemicId']].copy()
facts = facts.merge(countries_subset, on=[COL_COUNTRY, COL_STATE], how='inner')
facts.drop(columns=[COL_COUNTRY, COL_STATE], inplace=True)
facts.index += 1
with engine.connect() as conn:    
    facts.to_sql(name='FactInfections', schema='Dim', con=conn, index_label='InfectionId', if_exists='replace')
facts

        Datekey  Confirmed  Deaths  Recovered  Active  PandemicId  CountryId
1      20200122        0.0     0.0        0.0     0.0           4          0
2      20200122        0.0     0.0        0.0     0.0           4          1
3      20200122        0.0     0.0        0.0     0.0           4          2
4      20200122        0.0     0.0        0.0     0.0           4          3
5      20200122        0.0     0.0        0.0     0.0           4          4
...         ...        ...     ...        ...     ...         ...        ...
56316  20030711        1.0     0.0        1.0     NaN           1        204
56317  20030711        9.0     2.0        7.0     NaN           1        207
56318  20030711        4.0     0.0        4.0     NaN           1        221
56319  20030711       75.0     0.0       67.0     NaN           1        223
56320  20030711       63.0     5.0       58.0     NaN           1        226

[56320 rows x 7 columns]